<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<%- include('./partials/pageheader') %>
<div class="container">
    <form action="/post" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class = "form-control" rows = "4" placeholder = "Description" name="description"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Add Post</button>
      </form>
</div>
<%- include('./partials/footer') %>